//
//  CommonCrypto.xcconfig
//  SwiftyRSA
//
//  Created by Paul Wilkinson on 15/04/2016.
//  Copyright © 2016 Paul Wilkinson. All rights reserved.
//

MODULEMAP_FILE[sdk=iphoneos*]        = $(SRCROOT)/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = $(SRCROOT)/CommonCrypto/macosx.modulemap